
body{
  background-color: rgb(148, 255, 223);
}

table, th, td{

  border: 1px solid black;

}

.todotable{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 250px;
}